@import './fonts.scss';
@import './mixin.scss';
@import "./loader.scss";

:root {
    --bg: white;
    --text: #161616;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper {
    background: var(--bg);
    color: var(--text);
    min-height: 100vh;
    transition: 300ms;
}